<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body class="h100">
  <div id="wrapper" class="df fdc" style="min-height:100vh">
    <%- include("../partials/header") %>
    <%- include("../partials/navigation") %>
    <main class="f-1">
      <%- body %>
    </main>
    <%- include("../partials/footer") %>
  </div>
  
</body>
</html>