<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
  <div id="wrapper" class="flex flex-col h-screen bg-white max-w-[1280px] m-0a px-3 border-2 border-solid border-[black]">
    <div class="f-1">
      <%- include("../partials/header") %>
      <%- include("../partials/navigation") %>
      <main class="">
        <%- body %>
      </main>
    </div>
    <%- include("../partials/footer") %>
  </div>
  
</body>
</html>